@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

// Colors
$pink: hsl(322, 100%, 66%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

$shadow: 0 0px 6px hsl(192, 38%, 82%);

// Fonts
$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans', sans-serif;